.container-xl{
    background: #FFF;

}


.left-right{
    display: flex;
    justify-content: center;
    /*border: 2px solid black;*/
    width: 100%;
    justify-content: space-between;
    /*flex-flow: column wrap;*/
    
}

.nav{
    display: flex;
    justify-content:space-between;
    height: 100px;
    /*border: 4px solid palevioletred;*/
    width: 100%;
    align-items: center;
}

.first-image{
    display: flex;
    height: 90px;
    /*border: 3px solid red;*/
    align-items: center;
    justify-content: end;
}

.list{
    display: flex;
    height: 90px;
    /*border: 3px solid red;*/
    justify-content: space-between;
    align-items: center;
}

.menu{
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.list-in> a{
color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.btn-btn{
display: flex;
width: 150px;
height: 40px;
padding: 5px 26px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 30px;
background: var(--gradient-orange-gradient-10, linear-gradient(90deg, #E65C00 0%, #F9D423 100%));
box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08), 0px 4px 6px -4px rgba(24, 39, 75, 0.12);
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}

@media screen and (min-width: 300px ) and (max-width: 980px) {
    .nav{
    justify-content: flex-start;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 980px) {
    .menu{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }
    .btn-btn{

    }
}

@media screen and (min-width: 300px ) and (max-width: 668px) {
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
    }
    
}

@media screen and (min-width: 300px ) and (max-width: 464px) {
    .nav{
        display: flex;
        flex-flow: column;
        padding-top: 10px;
        align-items: center;
        
    }
    
}

.left-right{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 3rem;
    padding-left: 3.5rem;
    gap: 2rem;
}


.left > p{
    color: var(--cold-grey-80, #37383C);
    font-family: Roboto;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #37383C;    
}

.left  .smart{
color: var(--cold-grey-60, #696C73);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
color: #696C73;
}


.blue-btn{
    display: flex;
    width: 150px;
    height: 40px;
    padding: 5px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
background: var(--gradient-blue-gradient-19, linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%));
box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08), 0px 4px 6px -4px rgba(24, 39, 75, 0.12);
color: Gradient/Blue/gradient 19;
border: none;
color: #FFF;
}
.right{
    display: flex;
    /*border: 3px solid darkorchid;*/
    width: 50%;
    align-items: center;
    justify-content: center;

}

.three-mobile{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 300px ) and (max-width: 768px) {
.left-right{
    flex-flow: column;
    gap: 10px;
    }

    .right{
        width: 100%;
    }

    .left{
        width: 100%;
        align-items: center;
    }
    
}

@media screen and (min-width: 300px ) and (max-width: 768px) {

    .left{
        padding-left: 5px;
    }
    .left > p{
        font-size: 22px;
        text-align: center;

    }

    .left  .smart{
        font-size: 12px;
    }

    .blue-btn{
        width: 200px;
        align-self: center;
    }

}
